html
    head
        style
            include ./css/bookingTemplate.css
    body
        div(class="container")
            h2(class="logo") Kings Landing 
            div(class="wrapper")
                p(class="para") Booking Request raised, take a look:-
                ul
                    li
                        span(class="attri")="userName : "
                        span(class="val")=userName
                    li
                        span(class="attri")="fullName : "
                        span(class="val")=fullName
                    li
                        span(class="attri")="phoneNumber : "
                        span(class="val")=phoneNumber
                    li
                        span(class="attri")="residency : "
                        span(class="val")=residency
                    li
                        span(class="attri")="residencyId : "
                        span(class="val")=residencyId 
                    li
                        span(class="attri")="Category : "
                        span(class="val")=category


